langchain-core~=0.3.45
langchain-openai~=0.3.11
langchain-chroma
langchain-postgres
openai==1.60.2
chromadb==0.6.3
youtube-transcript-api~=1.0.3
google-api-python-client~=2.166.0
# pytube==15.0.0
sqlalchemy~=2.0.40
isodate~=0.7.2
python-dotenv~=1.1.0
tiktoken==0.7.0
requests~=2.32.3
langchain-text-splitters~=0.3.6
langchain~=0.3.20
psycopg2-binary==2.9.9
numpy~=1.26.4
pgvector~=0.3.6